<h1 style="border:2px solid DodgerBlue;">CSS Test Stuffs</h1>

<!DOCTYPE html>
<html>
<head>
<style>
#para1 {
  text-align: center;
  color: red;
}

#para2 {
  text-align: center;
  color: blue;
}


</style>
</head>
<body>

<p id="para1">Hello World!</p>
<p>This paragraph is not affected by the style.</p>
<p id="para2">Hello World!</p>

<h1 style="color:blue;">This is a heading</h1>
<p style="color:red;">This is a paragraph.</p> 

<h1 style="font-family:verdana;">This is a heading</h1>
<p style="font-family:courier;">This is a paragraph.</p>

<h1 style="font-size:300%;">This is a heading</h1>
<p style="font-size:160%;">This is a paragraph.</p>














<br>
<a href="http://127.0.0.1:8000/home/">back home</a>


</body>
</html>

