<!DOCTYPE html>
<html lang="en-US">
<body>

<h1 style="border:2px solid DodgerBlue;">homepage</h1>



<br>
<br>

<h2>To Do</h2>
<p>Based on a youtube Video -link einfügen--</p>
<a href="http://127.0.0.1:8000/todo/" title="gotodo">Visit the To-Do List</a>

<br>
<br>
<br>
<br>

<h2>Section_1</h2>
<p>Random Page created to tests</p>
<a href="http://127.0.0.1:8000/section_1/" title="gotosection1">Visit the Section 1 Page</a>

<br>
<br>
<br>
<br>

<h2>Django Build Kit 2000</h2>
<p>Instructions to do Django stuff</p>
<a href="http://127.0.0.1:8000/djangobuildkit2k/" title="djangobuildkit2k">Visit the Page</a>

<br>
<br>
<br>
<br>

<h2>CSS Testing Area</h2>
<p>For testing CSS stuff</p>
<a href="http://127.0.0.1:8000/css_sandbox/" title="css_sandbox">Visit the Page</a>

<br>
<br>
<br>
<br>

<h2>TicTacToe</h2>
<p>Play the tictactoes</p>
<a href="http://127.0.0.1:8000/tictactoe_js/" title="tictactoe_js">Play</a>


</body>
</html>

