<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 550px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }
        
    /* On small screens, set height to 'auto' for the grid */
    @media screen and (max-width: 767px) {
      .row.content {height: auto;} 
    }
  </style>
</head>
<body>

<nav class="navbar navbar-inverse visible-xs">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Menu</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/home/">Home</a></li>
        <li><a href="/section_1/">Webtools Testing Area</a></li>
        <li><a href="/djangobuildkit2k/">Django Build Kit 2000</a></li>
        <li><a href="/html_sandbox_3/">Coming soon...</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav hidden-xs">
      <h2>Menu</h2>
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="/home/">Home</a></li>
        <li><a href="/section_1/">Webtools Testing Area</a></li>
        <li><a href="/djangobuildkit2k/">Django Build Kit 2000</a></li>
        <li><a href="/html_sandbox_3/">Coming soon...</a></li>
      </ul><br>
    </div>
    <br>
    
    <div class="col-sm-9">

      <!--container line 1  -->
      <div class="well">
        <h4>Dashboard</h4>
        <p>This is a Django and Webdevelopment Learning Project</p>
      </div>

      <!--container line 2  -->
      <div class="row">
        <div class="col-sm-3">
          <div class="well">
            <h4>To Do List</h4>
            <p>List of what to do here</p> 
            <a href="/todo/">To Do List</a>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="well">
            <h4>Django Build Kit 2000</h4>
            <p>Create new Projects & Sites</p> 
             <a href="/newdjangosite/">Go to page</a>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="well">
            <h4>Section_1</h4>
            <p>Random Page created to do random tests</p> 
            <a href="/section_1/">Go to page</a>
          </div>
        </div>
     <div class="col-sm-3">
          <div class="well">
            <h4>TicTacToe in JS</h4>
            <a href="/tictactoe_js/">Go to page</a>
            </br>
            </br>
            <p>Code from </p>
            <a href="https://www.thecrazyprogrammer.com/2019/09/javascript-tic-tac-toe-game.html">here</a>
          </div>
        </div>
      </div>


      <!--container line 3  -->
      <div class="row">
        <div class="col-sm-8">
          <div class="well">
            <a href="http://bratapfel2000.de/">Bratapfel2000</a>
          </div>
        </div>

        <div class="col-sm-4">
          <div class="well">
            <h4>Random Placeholder</h4>
              <button type="button" class="btn btn-warning">With random button</button>

          </div>
        </div>

      </div>
 <!--container line 3  end-->


      <!--container line 3  -->
      <div class="row">
      <div class="col-sm-6">
          <div class="well">
            <h4>TicTacToe in JS</h4>
            <a href="/tictactoe_js/">Play</a>



          </div>
        </div>

        <div class="col-sm-6">
          <div class="well">
            <h4>Another TicTacToe in JS</h4>
            <a href="/tictactoe_js_2/">Play</a>
          </div>
        </div>

      </div>
 <!--container line 3  end-->

    </div>
  </div>
</div>

</body>
</html>
