<!DOCTYPE html>
<html>
<head>
  <style>

.style1 {
  background-color: tomato;
  color: white;
  padding: 10px;
}

.style2 {
  background-color: black;
  color: white;
  padding: 10px;
}

.main {
  text-align: center;
}







ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}


</style>
</head>
<body>


<h1>HTML Sandbox 2</h1>


<ul>
  <li><a href="/home/">Home</a></li>
  <li><a href="/html_sandbox/">Sandbox 1</a></li>
  <li><a href="#contact">Contact</a></li>
  <li><a href="#about">About</a></li>
</ul>




<h2 class="style1">London</h2>
<p>London is the capital of England.</p>

<h2 class="style2 main">Paris</h2>
<p>Paris is the capital of France.</p>


<hr>

<hr>
















<hr>

<a id="para1"; href="/home/">back home</a>

</body>
</html>
